/* Bases */

html {
  margin: auto;
  box-sizing: border-box;
}

body,
p,
h3 {
  margin: 0;
}

/* UI colors and fonts */

.main-color {
  color: #0065fc;
}

.secondary-color {
  color: #deebff;
}

.back-color {
  color: #f2f2f2;
}

.logo {
  font-family: "Sulphur Point", sans-serif;
  font-size: 88px;
  font-weight: 700;
}

.title,
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.card,
h2,
input,
button,
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.info,
li a,
p,
div {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

li a,
a {
  text-decoration: none;
  color: black;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 55px;
  margin-right: 52.5px;
  margin-bottom: 60px;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
  gap: 18px;
}

header img {
  height: 19px;
  padding-top: 44px;
}

nav ul li {
  padding-top: 48px;
  display: block;
  padding-left: 24.5px;
  padding-right: 24.5px;
}

nav ul li:hover {
  border-top: 2px solid #0065fc;
  padding-top: 46px;
}

nav ul li:hover a {
  font-weight: 500;
  color: #0065fc;
}

/* footer */

footer {
  background-color: #f2f2f2;
  margin-left: 48px;
  margin-right: 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 20%;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer h1 {
  margin-bottom: 20px;
}

footer ul li {
  margin-bottom: 12px;
}

/* Main (Titles and filters) */

.layout-one {
  margin-left: 55px;
}

form {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

form,
input,
button,
.map {
  height: 50px;
}

input,
button {
  font-size: 18px;
}

input {
  border: solid 1px #f2f2f2;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 17px;
  width: 250px;
}

i {
  color: black;
  font-size: 20px;
}

i.mobile {
  position: absolute;
  color: white;
  visibility: hidden;
}

.map {
  border-radius: 15px 0 0 15px;
  width: 50px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #0065fc;
  color: white;
  padding: 14px 16px 14px 16px;
  cursor: pointer;
}

.layout-one h1 {
  margin-bottom: 8px;
}

.layout-one p {
  margin-bottom: 20px;
  margin-top: 0;
}

/* filtres */

.filters {
  display: flex;
  flex-direction: row;
  width: 914px;
  justify-content: space-between;
  margin-bottom: 36px;
  margin-left: 7px;
}

.filters h2 {
  font-size: 18px;
}

.filters i {
  color: #0065fc;
  margin-right: 10px;
}

.filters div {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  padding: 14px 14px 16px 14px;
}

.filters div:hover {
  background-color: #deebff;
  cursor: pointer;
}

/* infos */

.infos {
  margin-bottom: 39px;
  margin-left: 4px;
}

.infos i {
  font-size: 16px;
  padding: 7px 10px 7px 10px;
  border: 2px solid #f2f2f2;
  border-radius: 100%;
  color: #0065fc;
  margin-right: 11px;
}

/* carte hébergements à Marseilles */

/* components-1 */

.logements {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
}

.components {
  display: flex;
  border-radius: 20px;
  border: 5px solid white;
  background-color: white;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.--one {
  width: 236px;
  height: 189px;
  flex-direction: column;
}

.--one img {
  height: 114px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.--one h3 {
  margin-left: 16px;
}

.--one p {
  font-size: 14px;
  margin-top: 9px;
  margin-left: 16px;
}

.--one i {
  color: #0065fc;
  font-size: 16px;
}

.--one i.last-star {
  color: #f2f2f2;
}

/* components-2 */

.--two {
  width: 333px;
  height: 134px;
  flex-direction: row;
  position: relative;
}

.--two img {
  height: 100%;
  width: 127px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.--two h3 {
  margin-left: 15px;
  margin-top: 16px;
}

.--two p {
  font-size: 14px;
  margin-top: 7px;
  margin-left: 15px;
}

.--two p.stars {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 7px;
  position: absolute;
  bottom: 0;
}

.--two i {
  color: #0065fc;
  font-size: 12px;
}

.--two i.last-star {
  color: #f2f2f2;
}

/* components-3 */

.--three {
  width: 285px;
  height: 231px;
  flex-direction: column;
  border: none;
  position: relative;
}

.--three img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.--three h3 {
  margin-left: 19px;
  margin-top: 20px;
}
