$main-blue: #0065fc;
$second-blue: #deebff;
$third-col: #d9d9d9;

$font-logo: "Sulphur Point", sans-serif;

$title-text: ("Raleway", sans-serif, 700, 22px);
$card-text: ("Raleway", sans-serif, 700, 22px);
$info-text: ("Raleway", sans-serif, 700, 22px);
